:root {
    font-size: 62.5%; /*10px*/
    --cor-primaria: #591623;/*cor de fundo*/
}
body {
    font-family: 'DM Sans'; /*fonte*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #D9B19A;
    font-size: 1.4rem;
    background-color: var(--cor-primaria);
    text-align: center;
}

/*Cabecalho*/

h1{
    font-size: 3.4rem;
    line-height: 130%;
}

/*Principal*/

.principal .quem-somos{
    background: #8C5E4D;
    display: flex;
}

.principal .quem-somos .informacoes{
    width: 50%;
}

.principal .quem-somos .imagem{
    width: 50%;
}

.principal .quem-somos .informacoes .titulo{
    font-size: 50px;
    margin-bottom: 20px;
}

.principal .quem-somos .informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
}

/*Rodape*/

/*asdasdsad*/ 