:root {
    font-size: 62.5%; /*10px*/
    --cor-primaria: #591623;/*cor de fundo*/

    height: auto;
}
html{
    height: 100%;
}

body {
    font-family: 'Comfortaa', cursive; /*fonte*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #D9B19A;
    font-size: 1.4rem;
    background-color: var(--cor-primaria);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    height: 100%;
   
}

*{
    font-family:'Comfortaa', cursive;
    box-sizing: border-box;
}

/*Cabecalho*/

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10%;

}

.cabecalho img{
    width: 100px;
    height: 100px;
    justify-self: flex-start;
}
 
h1{
    font-size: 3.4rem;
    line-height: 130%;
    
}

hr{
    border: none;
    border-radius: 8px;
    background-color: black;
    height: 2px;
    width: 80%;
}

#dividerContainer{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal e form para modal */

#cadastro-form{
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 220px;
}

.radio-div{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.radio-div > *:not(:last-child){
    margin-right: 15px;
}

.radio-div .label{
        
        font-size: medium;
      
}

.radio-wrapper{
    display: flex;
    align-items: center;
}

.radio-div .radio{
    width: 1em;
}


form >*:not(:last-child){
    margin-bottom: 15px;
}

.form-wrapper img{
    flex: 1;
    margin-left: 10px;
    max-width: 400px;
    height: auto;
    
}


.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

#entre-em-contato{
    margin-top: -30px;
}

.modal{

    background: #591623;
    position: absolute;
    width: max(320px, min(720px, 55vw));
    padding: 6em 5em 2rem 5em;
    z-index: 2;
    
}
.modal-content{
    padding: 0 0px;
  
}
.modal-content img{
    flex: 1;
    max-width: 400px;
    height: auto;
}


/* Fim do modal e seus conteudos */

.nav-item{
    text-decoration: none;
    color: #D9B19A;
}
            
.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

input{
    /* Rectangle 6 */
    font-size: 1.1em;
    
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;

background: #D9B19A
}

#cadastro{   
    font-size: 1.1em;
    color: #D9B19A;
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;

background: #8C3B3B;
}

#pedido{   
    font-size: 1.5em;
    color:#773333;
    padding: 15px 20px;
    outline: none;
    border: none;

background: #D9B19A;
}


.cabecalho ul {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    padding-left: 0;

}
.cabecalho  li > div {
    width: 150px;

    text-align: center;
    
  }

/*Principal*/

/*Quem somos*/


.principal{
    display: flex;
    flex-direction: column;
    
}

.principal .quem-somos{
    background: #8C5E4D;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}


.quem-somos .imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 350px;
    
}

.quem-somos .informacoes .titulo{
    font-size: 40px;
    margin-bottom: 20px;
}

.quem-somos .informacoes .texto{
    font-size: 15px;
    line-height: 1.5;
}

/*Painel*/

.principal .paineis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}

.principal .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);

    opacity: 0;
    transition: 0.3s ease-in-out;
}

.principal .paineis .projeto1{
    background-image: ;
}

/*Galeria*/

.informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
}


.galeria .informacoes .titulo{
    padding-top: 1em;
    margin-bottom: 2em;
}

.galeria .portfolio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.galeria .portfolio .conteudo{
    justify-content: center;
    flex: 1;
}

.galeria .portfolio .conteudo .texto{
    
    font-size: 20px;
    
}   
.galeria .portfolio .conteudo .titulos{
    
    font-size: 2em;
    
}   


.galeria .portfolio .imagem{
    width: 60%;
    height: auto;
    object-fit: cover;
    margin-bottom: 3rem;
}

/*Agendamentos*/



.depoimentos span{
    line-height: 5rem;
}

.depoimentos .informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
}

.depoimentos .informacoes .texto div{
    font-size: 20px;
    line-height: 1.5;
}


.suporte .imagem{
    display: cover;
    width: 50px;
    height: 40px;
    
}
.suporte .icones{

    display: flex;
    justify-content: center;
    align-items: center;
}

.suporte .icones > div{
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;

}
/*Rodape*/

.rodape .navegacao .menu {
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;

}



.rodape img{
    width: 100px;
    height: 100px;
    justify-self: flex-start;
}

.rodape .navegacao > ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 0;
}
.rodape nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0px;
}

.rodape p{  
    font-size: xx-small;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #412f46 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e5cbb2;
    border-radius: 10px;
    border: 3px solid #591623;
  }

  @media screen and (max-width: 780px) {

    .cabecalho img{
        display: none;
    }
    .menu{
        font-size: 20px;
        top: 0;
        left: 40;
        align-self: flex-end;
 
    }
    .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    }
    #pedido{   
        font-size: 1.5em;
        color:#773333;
        padding: 15px 20px;
        outline: none;
        border: none;
        
    background: #D9B19A;
    }

    .radio-div .label{
        
      
        font-size: small;
    
    }   

    .galeria .portfolio .imagem{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 4rem;
    }
    
    .galeria .portfolio div a{
    
    display: none;
    
    }     
    .rodape .navegacao .menu {
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;

    }

}

  